body{
    background-color: $basicColor;
}
.bg_color{
    background-color: $secondaryColor;
    // #01A082;
}
.card-header{
    background-color: $mainColor;
    color: $basicColor;
    text-align: center;
}
.card-header:first-child{
    border-radius: 18px 18px 0 0 ;
}
// .card-body{
//     text-align: center;
// }
.card{
    border-radius: 20px;
    border: 2px solid $logoColor;
    ul{
        margin-right: 30px;
        li{
            list-style: none;
        }
    }
}
.btn-primary {
    color: $basicColor;
    background-color: $mainColor;
    border-color: $mainColor;

    &:hover{
        color: $mainColor;
        background-color: white;
        border-color: $hoverColor1;
    }
}
.btn-warning{
    &:hover{
        color: black;
        background-color: rgb(255, 217, 0);
        border-color: rgb(255, 217, 0);
    }
}
a:hover {
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: $basicColor;
}
.image, .logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.image{
    img{
        width: 350px;
    }
}
.logo{
    img{
        width: 50px;
    }
    h2{
        color: $logoColor;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
    }
}
