body{
    background-color: $body-bg;
}
.logo img{
    width: 4.37rem;
}
.bg_color{
    background-color: $logoColor;
}
.card-header{
    background-color: $logoColor;
    color: $basicColor;
    text-align: center;
}
.card-header:first-child{
    border-radius: 1.125rem 1.125rem 0 0 ;
}
.card{
    border-radius: 1.25rem;
    border: 0.0625rem solid lightgray;
    ul{
        margin-right: 1.875rem;
        li{
            list-style: none;
        }
    }
}
.btn-primary {
    color: $basicColor;
    background-color: $logoColor;
    border-color: $logoColor;

    &:hover{
        background-color: $hoverColor;
        border-color: $hoverColor;
    }
}
.btn-warning{
    &:hover{
        color: $basicColor2;
        background-color: rgb(255, 217, 0);
        border-color: rgb(255, 217, 0);
    }
}
a:hover {
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: $basicColor;
}
.image, .logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.image_burger{
    img{
        width: 18.75rem;
    }
}
.logo{
    img{
        width: 3.125rem;
    }
    h2{
        color: $logoColor;
        font-size: 1.875rem;
        font-weight: bold;
        font-family: sans-serif;
    }
}
.img_account{
    border-radius: 0.625rem;
    object-fit: cover;
    object-position: top;
    width: 10.5rem;
    height: 10.5rem;
    border-radius: 1.25rem;
}
.user_info{ 
    ul{
        max-width: 15.625rem;
        li{
            list-style: none;
            margin: 0.625rem 0;
        }
    }
}
.salad{
    height: 10.625rem;
    border-radius: 1.25rem;
}
