body {
    background-color: $body-bg;
}

.general {
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo img {
    width: 4.37rem;
}
.bg_color {
    background-color: $logoColor;
}
.card-header {
    background-color: $logoColor;
    color: $basicColor;
    text-align: center;
}
.card-header:first-child {
    border-radius: 18px 18px 0 0;
}
.card {
    border-radius: 20px;
    border: 1px solid lightgray;
    ul {
        margin-right: 30px;
        li {
            list-style: none;
        }
    }
}
.btn-primary {
    color: $basicColor;
    background-color: $logoColor;
    border-color: $logoColor;

    &:hover {
        background-color: $hoverColor;
        border-color: $hoverColor;
    }
}
.btn-warning {
    &:hover {
        color: $basicColor2;
        background-color: rgb(255, 217, 0);
        border-color: rgb(255, 217, 0);
    }
}
a:hover {
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
    color: $basicColor;
}
.image,
.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image_burger {
    img {
        max-width: 80%;
    }
}

.logo {
    .img1 {
        margin-top: 50px;
    }
}
.logo {
    
    img {
        width: 50px;
        
    }
    h2 {
        color: $logoColor;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
        margin-top: 50px;
    }
}
.img_account {
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
    width: 168px;
    height: 168px;
    border-radius: 20px;
}
.user_info {
    ul {
        padding: 20px 0;
        li {
            list-style: none;
            margin: 10px 0;
            text-align: center;
        }
    }
}
