.card-menu{
    border: 1px solid $cardBorderColor;
}
.img-container{
    img{
        object-fit: cover;
        object-position: top;
        width: 15.625rem;
        height: 15.625rem;
        border-radius: .75rem;
        max-width: 100%;
        @media screen and (max-width: 400px) {
            & {
                height: 65vw;
            }            
        }
    }
}
