// Body
$body-bg: #f8fafc;

$mainColor: #403336;
$secondaryColor: #403336;
$logoColor: #00CCBD;
$hoverColor1: #FACFBA;
$hoverColor: #02beb2;
$hoverColor3: rgb(255, 217, 0);
$cardBorderColor: lightgrey;
$basicColor: #fff;
$basicColor1: black;
$basicColor2: black;



// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #FF8001;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
