// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


#checkbox_container {
  max-height: 20vh;
  overflow-y: scroll;
  border: 1px solid #ced4da;
  padding: 0 .5rem;
}

.not_available_plate {
  position: relative;
  & > *:not(.buttons) {
    opacity: 0.3;
  }
  &::after {
    content: 'non visibile';
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
  }
}

.input_container,
.input_container *[class*="col"] {
  padding-right: 0 !important;
}

// Dashboard
@import 'dashboard';

// Index
@import 'index';

// Show
@import 'show';
