// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Commons

body::-webkit-scrollbar {
    width: 1em;
    
  }
   
  body::-webkit-scrollbar-track {
      background-color: rgb(255, 255, 255);
    border-radius: 20px;
  }
   
  body::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(4,203,191,1) 0%, rgba(57,255,243,1) 41%, rgba(183,250,246,1) 62%, rgba(255,255,255,1) 100%);
    border-radius: 20px;
  }