$titleColor: #2E3333;
$mainColor: #04CBBF;
$basicColor: #fff;
$bgColor1: #eceaea;
$bgColor2: #F9FAFA;
$bgColor3: #ffeae4;
$orange: #FF8001;
$scrollbar_inner_color: #b4b4b4;
$scrollbar_outer_color: #ffffff;

// Footer
$lightgray: #252525;
$gold:#d6be78;
$lightgrey-light:#888888;
$silver: #ececec;

$greenMain: #04CBBF;
